body {
  background-color:#CF4647;
  color:#FFF;
  font-family: sans-serif;
  padding:0;
  margin:0;
}
#container {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  text-align:center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
a {
  color:#FFF;
}
#top {
  display:inline-block;
  box-sizing: border-box;
  width: 350px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#ui {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding:20px;
}
#wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y:hidden;
  overflow-x:auto;
  background-color:#524656;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size:35px;
  margin:0 0 10px 0;
  font-weight: normal;
}
p {
  font-weight: normal;
  font-size: 14px;
  margin: 10px auto 20px auto;
  text-align:left;
}
#bottom {
  box-sizing:border-box;
  background-color:#BE3536;
  color:rgba(255,255,255,0.8);
  font-style:italic;
  font-size:13px;
  height:50px;
  line-height:30px;
  padding:10px;
}
p strong {
  font-family:monospace;
}
button, a.button {
  background-color:#A7C5BD;
  color:#524656;
  padding:0 10px;
  line-height:45px;
  vertical-align:bottom;
  border-radius:0 5px 5px 0;
  text-decoration:none;
  display:block;
  border:0;
  height:40px;
  box-sizing:border-box;
  width:50px;
  font-size:16px;
  font-family:sans-serif;
  margin:10px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor:pointer;
}
button:hover, a.button:hover {
  background-color:#B8D6DF;
}
input[type="text"] {
  background-color:rgba(255,255,255,0.2);
  color:#FFF;
  padding:10px;
  border-radius:5px 0 0 5px;
  text-decoration:none;
  display:block;
  border:0;
  height:40px;
  box-sizing:border-box;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size:13px;
  font-family:monospace;
  margin:10px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input[type="text"]:hover {
  background-color:rgba(255,255,255,0.4);
}
input[type="text"]:focus {
  outline: 0;
  background-color:rgba(255,255,255,0.3);
}
#function {
  margin-bottom:20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
#result {
  padding: 20px;
  text-align:center;
  height:auto;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#result.open {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}



table {
  margin: 0 auto;
  border-collapse: collapse;
  min-width: 300px;
}
table tr {
  background-color:rgba(0, 0, 0, 0);
  margin:0;
  padding:0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
table tr:hover {
  background-color:rgba(0, 0, 0, 0.2);
}
table tr:first-child:hover {
  background-color:rgba(0, 0, 0, 0);
}
table tr th {
  border-bottom: 2px solid #FFF;
}
table tr th {
  padding:10px;
}
table tr td {
  margin:0;
  padding:10px;
  border-left: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}
td.truthful-true {
  background-color:rgba(255, 255, 255, 0.2);
}
table tr td:first-child {
  border-left: 0;
}
table tr td.truthful-first {
  border-left:2px solid #FFF;
}
table tr:last-child td {
  border-bottom:0;
}



@media all and (max-width:700px) {
  #container {
    display:block;
  }
  h1 {
    font-size:24px; 
  }
  #top {
    display:block;
    width:auto;
  }
}

@media all and (max-width:500px) {
  #top {
    display:block;
    position:relative;
  }
}

@media all and (max-width:400px) {
  #function input[type="text"] {
    display:block;
    width:100%;
    box-sizing: border-box;
    height: 40px;
  }
  #function input[type="button"] {
    display:block;
    margin: 10px auto;
  }
  table {
    min-width:200px;
  }
}
